* {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
hr{
  background: black;
  height: 2px;
  width: 30px;
  margin-top: 0;
  border-style: none;
}
h3{
  margin: 0;
  padding: 0;
}
.padding-0{
  padding: 0;
}
.none {
  display: none;
}
.font-roboto{
font-family: 'Roboto', sans-serif;
font-size: 25px;
}
.font-rokkit{
  font-family: 'Rokkitt', serif;
}
.color-font{
  color: #33333a;
}
.style-seleccion{
  padding-top: 30px;
  padding-bottom: 50px;
}
.flex-center{
  display: flex;
  justify-content: center;
}
.ingresa-datos{
 padding-left: 100px;
}
.color-fondo{
  background-color: #333;
  color: white;
  height: 500px;
}
.ingresa-datos div h3 {
  padding-top: 80px;
  padding-bottom: 10px;
}
.style-button{
  background-color: #f9a91a;
  color: white;
  width: 150px;
  font-size: 24px;
  border-style: none;
}
.color-input{
  background-color: #cccc;
}
.container-img{
}
.photo-coder {
  height: 500px;
  width: 600px;
}
